<div class="clearfix">
<h1>Admin index</h1>
    <%= link_to "Create New Post", new_post_path, class: "left btn btn-secondary" %>
    <%= link_to "Create New User", new_user_path, class: "left btn btn-secondary" %>
</div>

