<div class="middle">
  <h2>Profile</h2>
  <div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="test-block">
            </div>
        </div>
        <div class="col-3">
            <p>No :</p>
            <p>Name :</p>
            <p>Email :</p>
            <p>Created User :</p>
            <p>Type :</p> 
            <p>Phone :</p>
            <p>Date Of Birth :</p>
            <p>Address :</p>
        </div>
        <div class="col-5">
            <p>1</p>
            <p>Mg Mg</p>
            <p>mgmg@gmail.com</p>
            <p>Zaw Zaw</p>
            <p>Admin</p>
            <p>09-123456</p>
            <p>3-6-1999</p>
            <p>Kan Daw Lay</p>
            <%= link_to "Edit Profile", edit_user_path(1), class: "btn btn-secondary" %>
        </div>
    </div>
  </div>
</div>
